/* font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font name */
.font-inter{
    font-family: "Inter", sans-serif;
}
.mulish-font{
    font-family: "Mulish", sans-serif;
}
.footer-bg {
    background: linear-gradient(180.00deg, rgba(18, 19, 45, 0.05), rgba(18, 19, 45, 0) 100%);
}